@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
    margin: 0px;
    padding:0px;
}
:root {
    --font-padrao:'Times New Roman', Times, serif;
    --fonte-header:  'Passion One', cursive;
    --fonte-main:  'Sriracha', cursive;
}

body {
    font-family: var(--font-padrao);
    min-height: 100vh;
    background-color: white;

}



header {
    background-color: black;
    text-align: center;
    color: white; 
    
}
header>h1 { 
    padding-top:50px;
    font-family: var(--fonte-header);
    font-size: 10vw;
    font-variant:small-caps;
}

header>p {
    color: rgba(253, 253, 253, 0.493);
    padding-bottom: 50px;
    padding-top: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
    color: yellowgreen;
}

.texto01 {
   
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.411);
    font-family: var(--fonte-main);
    color: white;
    padding: 5px;
    text-shadow: 1px 2px 1px black;
}
  .texto02 {
    display: inline-block;
    background-color:rgba(27, 26, 26, 0.479);
    font-family: var(--fonte-main);
    color:white;
    padding: 5px; 
    text-shadow: 1px 2px 1px black;
}

p {
    padding-top:50px;
}
section { 
    
    font-size: 3.5vw;
    font-family: var(--fonte-main);
    line-height: 2em;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-top: 10vh;
    background-color: white;
}
section>p {
    padding-bottom: 2em;
}

#image01 { 
    
    position: relative;
    background-image: url("image/background001.jpg");
    background-position: center center ;
    background-attachment: fixed;
    background-size:cover;
    box-shadow: inset 1px 1px 8px 0px black;
    }  
 

  #image02 {
    position: relative;
    background-image: url("image/background002.jpg");
    background-position: center center;
    background-size:cover ;
    background-attachment:fixed;
    box-shadow: inset 1px 1px 8px 0px black;
   
}


footer>p {
    background-color: rgba(0, 0, 0, 0.747);
    color:white;
    text-align: center;
    padding: 10px;
    font-family: var(--font-padrao);
    font-size: 16px;
    
}

   


 